@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sintony&display=swap");



:root {
  /* change the values below to your colors from your palette */
  --primary-color: #3F6634;
  --secondary-color:#F5F5DC;
  --accent1-color: #ff;/*#9fc1ff;*/
  --accent2-color: #387c8a;/*#188FA7;*/

  --primary-color-dark: #faf1e9;
  /* Color principal más oscuro */
  --secondary-color-dark: #262222;
  /* Color secundario más oscuro */
  --accent1-color-dark: #443a22; /*#443a22;*/
  /* Primer acento más oscuro */
  --accent2-color-dark: #14cc42;
  /* Segundo acento más oscuro */

  /* Otros ajustes */
  --heading-color-on-dark: #fff;
  /* Color de texto para títulos sobre fondo oscuro */
  --paragraph-color-on-dark: #ccc;
  /* Color de texto para párrafos sobre fondo oscuro */

  --shadow-color-03: rgba(255,
      255,
      255,
      0.3);
  /*var(--nav-hover-background-color);*/

  /* change the values below to your chosen font(s) */
  --heading-font: 'Noto Serif Malayalam', serif;
  --paragraph-font: 'Sintony', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #3F6634;
  /* headlines on a white background */
  --headline-color-on-color: var(--secondary-color);
  /* headlines on a colored background */
  --paragraph-color-on-white: #3F6634;
  /* paragraph text on a white background */
  --paragraph-color-on-color: var(--secondary-color);
  /* paragraph text on a colored background */
  --paragraph-background-color: #3F6634;
  --nav-link-color: var(--secondary-color);
  /* #3F6634; */
  --nav-background-color: #d41a1ab2; /*#D4AC0D;*/
  --nav-hover-link-color:  var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);

  --background-footer-color: var(--accent2-color);
  --paragraph-footer-color: white;
  --MAX-WIDTH: 1200px;
}



.dark-mode {

  /* Cambios de color para los elementos principales */
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --accent1-color: var(--accent1-color-dark);
  --accent2-color: var(--accent2-color-dark);

  /* Cambios de color para los textos */
  --headline-color-on-white: var(--heading-color-on-dark);
  
  --paragraph-footer-color: #5f1111;
  --shadow-color-03: rgba(255, 255, 255, 0.1);


 

  /* headlines on a white background */
  --headline-color-on-color: var(--secondary-color-dark);
  /* headlines on a colored background */
  --paragraph-color-on-white: var(--primary-color-dark);
  /* paragraph text on a white background */
  --paragraph-color-on-color: var(--secondary-color-dark);
  /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color-dark);
  --nav-link-color: var(--accent1-color-color);
  --nav-background-color: var(--accent2-color);
  /*     EBBC70  */
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);
  --background-footer-color: var(--accent2-color);
}


#logo {

   max-width:50px;    /* <-- change to 100% if you want the logo to fill the top on mobile */
  
  margin: 0;
  padding: 0;
  
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  max-width: 100%;

}

h2 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

.adjustLogoAndTitle {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

#mode {
  /*color: var(--headline-color-on-color);*/
  /*color: var(--primary-color);*/
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--paragraph-background-color); /*var(--secondary-color);*/
  max-width: 100%;
}


.chamberName {
  color: var(--secondary-color);
  font-size: 1.6em;
  padding: 4px;
  padding-top: 0.4em;
  margin: auto;
  /* text-align: left; */
}


.chamberTitle {
  font-size: smaller;
  margin: auto;
  padding: 4px;
  color: var(--secondary-color);
  /*border: #0d81d4 solid 5px; */
}


.comboNameAndTitle {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;

  /****  if you want the title centered use the below instead: ***/

}


nav {
  flex-direction: column;
}


.navigation {
  
  display: block;
  list-style: none;
  margin: auto;
  background-color: var(--nav-background-color);
  padding: 0;
}

.navigation li {
  display: none;
  padding: 0;
  
}

.navigation a {
  margin: auto;
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: var(--accent1-color);
  /* black;*/
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);

}

.navigation a:hover,
.navigation a:active {
  background-color: rgba(255, 255, 255, 0.3);
  
}

#menu {

  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem;
  background-color: var(--nav-background-color);
  
  /* var(--paragraph-background-color); */
  color: var(--accent1-color);
  ;
}

#menu::before {
  content: '≡';
}


.show li {
  
  display: block;
}

#menu.show::before {
  
  content: 'X';
}


body {
  max-width: 100%;
  margin: auto;
  padding: 0.2em;
  font-size: 18px;
  text-align: center;
  background-color: var(--secondary-color);
}

.homeRealImageHero {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  color: var(--paragraph-footer-color);
  background-color: var(--paragraph-background-color);
  padding:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer p {
  margin:0;
  padding:0;
  color: var(--paragraph-footer-color);
  font-family: var(--heading-font);
  font-size: smaller;
}




#myLastChange {
  color: var( --paragraph-footer-color) ; /* #ffa; */
}

.call-to-action {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 30px;
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-footer-color);
  
  border-radius: 10px;
  cursor: pointer;
  
}


.myEventsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 5fr 1fr 5fr 5fr 5fr;
  row-gap: 20px;
}


 .events {
    
    display: block;
    grid-column: 1/1;
    grid-row: 1/2;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  
   
    border: red solid 2px;
 }
 .events-title .events-body .events-body{
    margin: 0;
    padding: 0;  
    text-align: left;
    font-family: 'Noto Serif Malayalam', serif; 
    font-size: 1em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
   
 }
 


  .weather {
    grid-column: 1/1;
    grid-row: 2/3;
    font-family: 'Noto Serif Malayalam', serif; 
    border: rgb(0, 47, 255) solid 2px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
   
 }

  
  .label-member              {
    grid-column: 1/1;
    grid-row: 3/4;
    border: rgb(0, 255, 85) solid 2px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
   
 }
                
  .sponsor1{
    grid-column: 1/1;
    grid-row: 4/5;
    border: rgb(238, 255, 0) solid 2px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
   
 }

  
  .sponsor2 {
    grid-column: 1/1;
    grid-row: 5/6;
    border: rgb(247, 0, 255) solid 2px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
   
 }
                    
  .sponsor3{
      grid-column: 1/1;
      grid-row: 6/7;
      border: rgb(0, 255, 242) solid 2px;
      color: var(--primary-color);
      background-color: var(--secondary-color);
     
   }
                    


   /*  DISCOVER */
   .discover-main-content {
    max-width: var(--MAX-WIDTH);
      display: grid;
    /*  grid-template-columns: 30% 70%;*/
    grid-template-columns: 100%;
    grid-template-rows: auto;
   }

   .discover-main-description {
     
      grid-row:   1/2;
      grid-column: 1/2;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:  repeat(4,1fr);
      gap: 10px;

   
      align-content: center;
    
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid rgba(0, 0,0, 0.1);

   }

   
  .discover-main-description .discover-main-description-title {
   width: 100%; 
   margin:0;
   padding:0;
   color: var(--paragraph-color-on-white);
   font-family: var(--heading-font);
   font-size: 1.4em;


  }
  .discover-main-description p {  
   text-align: justify;
   color:  var(--paragraph-color-on-white);
   font-family: var(--heading-font);
   font-size: medium;
   width: 100%;
  }


   .discover-main-pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row: 2/3;
    grid-column: 1/2;
    gap: 10px;
   }

   


  /* hover effect on images */
  .discover-main-pictures-title-image :hover {
    box-shadow: 0 0 50px #333;
  }

  .discover-main-description-1{
    margin-top: 1em;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .discover-main-description-2{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .discover-main-description-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .discover-main-description-4{
    grid-column: 1/2;
    grid-row: 4/5;
  }

   .discover-main-pictures-title-image-1{
    grid-column: 1/2;
    grid-row: 1/2;
    
   }

   .discover-main-pictures-title-image-2{
    grid-column: 1/2;
    grid-row: 2/3;
   }

   .discover-main-pictures-title-image-3{
    grid-column: 1/2;
    grid-row: 3/4;
   }

   .discover-main-pictures-title-image-4{
    grid-column: 1/2;
    grid-row: 4/5;
   }

   .discover-main-pictures-title-image-5{
    grid-column: 1/2;
    grid-row: 5/6;
   }

   .discover-main-pictures-title-image-6{
    grid-column: 1/2;
    grid-row: 6/7;
   }

   .discover-main-pictures-title-image-7{
    grid-column: 1/2;
    grid-row: 7/8;
   }

   .discover-main-pictures-title-image-image img {
       width: 100%;
       height: auto;
      max-width: 400px;

   }
   
   .discover-main-pictures-title-image-title {
    margin:0;
    padding:0;
    color: var(--paragraph-color-on-white);
    font-family: var(--heading-font);
    font-size: 1.4em;
   
   }

   #discover-message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
 
  .discover-hidden {
    display: none;
  }
 /* END DISCOVER  */

 /* JOIN */
 .join-main-content {
    display: grid;
   /* grid-template-columns: 60% 40%; */
   grid-template-columns: 90%;
 }

  .join-subscription-level , main form {
  max-width: 800px;
  margin: 20px auto;

  padding: 20px;
  background: var(--main-bg-color);
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.8);
  grid-column: 1;
}


.join-form fieldset {
  margin: 0;
  border: 1px solid #333;
  border-radius: 6px;
  padding: .5rem 2%;
  
}

.join-form , .join-subscription-level {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  border: 1px solid #333;
  border-radius: 6px;
  padding: .5rem 2%;
}

.join-form legend {
  color: #17333B;
  padding: 0 .5rem;
}

.join-form label , .join-subscription-level p {
  
  display: block;
  text-align: left;
  padding-top: .8rem;
  color: var(--paragraph-color-on-white);
  font-size: 20px;
}

textarea {
  min-width:  300px; 
  max-width:  425px; 
  max-height: 300px;
  min-height: 200px;
}

.join-form input[type="text"],
.join-form input[type="tel"],
.join-form input[type="email"],
.join-form input[type="url"],
.join-form input[type="date"],
.join-form input[type="number"] ,
.join-form select , .join-form textarea  {
  background-color: #fff;
  display: block;
  border: solid 1px #333;
  border-radius: 6px;
  box-sizing: border-box;
  padding: .75rem;
  color: #333;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

 
.join-form input[type="radio"],
.join-form input[type="checkbox"] {
  margin-right: 6px;
}

.join-form button {
  border: none;
  background-image: linear-gradient(#265656, #0c1c20);
  color: #fff;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: 2rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #333;
}

.join-form input:required {
  border-left: solid 8px red;
}

.join-form input:required:valid {
  border-left: solid 8px green;
}




/*  Directory */

.list-menu {

  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: center;
}

.list-menu button {
  padding: 0.4rem;
  font-weight: 500;
}
 
.myDivDirectoryContainer  {
  max-width: var(--MAX-WIDTH);
  width: 100%;
  background-color: var(--accent1-color);
} 

/*
.myDivDirectoryContainer.grid {
  
    background-color: #443a22;
 

}

.myDivDirectoryContainer.list {
  display: flex;
  flex-direction: column;
} */ 
 

.myDivDirectoryContainer section {
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem; 
  margin-left: 1rem;
  background-color: var(--secondary-color);
}

.myDivDirectoryContainer.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 5px;
  grid-column-gap: 5px;
	
}

.myDivDirectoryContainer.grid section {
	text-align: center;
 /*  border:red solid 10px; */
}

.myDivDirectoryContainer.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.myDivDirectoryContainer.grid  section > * {
	margin: 0.1rem;
}

.myDivDirectoryContainer.grid h3 {
	font-family: "Caveat", cursive;
}

.myDivDirectoryContainer.list {
	display: flex;
	flex-direction: column;
}

.myDivDirectoryContainer  section {
	/* formato de 3 columnas display: grid;
	grid-template-columns: 2fr 1fr 1fr;*/
	margin: 0;
	padding: 0.25rem;
}


.myDivDirectoryContainer.list section {
	  display: grid;
    grid-template-columns: 3fr 3fr 2fr 0.3fr 2.5fr ;
    margin: 0;
    padding: 0.25rem;
    text-align: left;
}

.myDivDirectoryContainer.list section > * {
	margin: 0 1rem;
}

.myDivDirectoryContainer.list section img {
	display: none; /* smaller viewports only */
}
 

.myDivDirectoryContainer.list section .memberInfo {
  display: none;
}

.myDivDirectoryContainer.list section h2 ,
.myDivDirectoryContainer.list section h3 , 
.myDivDirectoryContainer.list section p {
  font-size: small;
  font-family: var(--heading-font);
}



.myDivDirectoryContainer section  h3 {
	font-size: 1.5rem;
}

.myDivDirectoryContainer section p {
	font-weight: 600;
	font-size: smaller;
  color:  var(--paragraph-color-on-white);
  font-family: var(--heading-font);
  padding: 0.2rem;

}

.myDivDirectoryContainer.list section:nth-child(even)  {
  background-color:  rgba(255, 255, 255, 0.9)  ;
} 

.dark-mode .myDivDirectoryContainer.list  section:nth-child(even)  {

  background-color:  rgba(0, 0, 0, 0.9)  ;
} 


.myDivDirectoryContainer section .memberInfo {
  padding: 10px;
  border:  rgba(255, 255, 255, 0.5)  solid 1px;
  text-align:justify;
}
.myDivDirectoryContainer section .memberInfo::first-letter {
  
  font-size: large;
}

.myDivDirectoryContainer section  a {
	font-size: 0.85rem;
  color:  var(--paragraph-color-on-white);
  text-decoration-color: var(--nav-background-color); 
	letter-spacing: 1.0pt;
   
}

.myDivDirectoryContainer section img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}
