.bodyHome {
    padding-left: 3em;
    padding-right: 3em;
    border: 20px red solid ;
}

.homeImageHero {
    margin-top: 20px;
    padding-left: 0em;
    padding-right: 3em;
    border: 20px rgb(255, 0, 204) solid ;
}

h1 {
    border: 2px green solid;
}