@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam&family=Sintony&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sintony&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #964b00;
  --secondary-color: #f5f5dc;
  --accent1-color: #ECC079;
  --accent2-color: #07551A; /* #075F1D;*/
  
  --primary-color-dark: #faf1e9;   /* Color principal más oscuro */
  --secondary-color-dark: #262222; /* Color secundario más oscuro */
  --accent1-color-dark: #443a22;   /* Primer acento más oscuro */
  --accent2-color-dark: #15e348;   /* Segundo acento más oscuro */

  /* Otros ajustes */
  --heading-color-on-dark: #fff;   /* Color de texto para títulos sobre fondo oscuro */
  --paragraph-color-on-dark: #ccc; /* Color de texto para párrafos sobre fondo oscuro */

  --shadow-color-03:rgba(
    255,
    255,
    255,
    0.3
  ); /*var(--nav-hover-background-color);*/
  
  /* change the values below to your chosen font(s) */
  --heading-font: "Noto Serif Malayalam", serif;
  --paragraph-font: "Sintony", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color) ; /* headlines on a white background */
  --headline-color-on-color: var(
    --secondary-color
  ); /* headlines on a colored background */
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */
  --paragraph-color-on-color: var(
    --secondary-color
  ); /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color:var(--primary-color);
  
  --nav-background-color: var(--accent1-color); /*     EBBC70  */ 
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);

  --background-footer-color: var(--accent2-color);
  --paragraph-footer-color: #ffe6f6;
  --span-color: var(--accent2-color);
  --MAX-WIDTH: 1200px;
}

.dark-mode {

 /* Cambios de color para los elementos principales */
 --primary-color: var(--primary-color-dark);
 --secondary-color: var(--secondary-color-dark);
 --accent1-color: var(--accent1-color-dark);
 --accent2-color: var(--accent2-color-dark);

 /* Cambios de color para los textos */
 --headline-color-on-white: var(--heading-color-on-dark);
 --paragraph-color-on-white: var(--paragraph-color-on-dark);
 --paragraph-footer-color: #5f1111;
 --shadow-color-03:rgba(255,255,255,0.1);


--headline-color-on-white: var(--primary-color) ; /* headlines on a white background */
--headline-color-on-color: var(--secondary-color); /* headlines on a colored background */
--paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */
--paragraph-color-on-color: var(
  --secondary-color
); /* paragraph text on a colored background */
--paragraph-background-color: var(--primary-color);
--nav-link-color:var(--primary-color);

--nav-background-color: var(--accent1-color); /*     EBBC70  */ 
--nav-hover-link-color: var(--accent2-color);
--nav-hover-background-color: var(--secondary-color);

--background-footer-color: var(--accent2-color);

--span-color: var(--paragraph-footer-color);


}



#mode {
  color:var(--primary-color);;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
  background-color: var(--secondary-color);
}

body {
  max-width: var(--MAX-WIDTH); /*1200px;*/
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: var(--secondary-color);
}

img {
  display: block;
  margin: 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 , .unionH2 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: rgba(0, 0, 0, 0.1);
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

nav {
  background-color: var(--nav-background-color);
 
 /* margin: 0 auto; */
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-around;
 


  /*
   max-width: 800px; line-height: 3em;
    text-align: center;
    font-size: 1.2em; */
}

nav ul {
 
  list-style-type: none;
  display: flex;
  margin: 0;
  width: 100%;
  padding-left: 0;
  /*justify-content: space-evenly;*/
}

nav a {
  color: var( --accent2-color);
  /**/
  /*min-width: 120px;
*/
  display: block;
  justify-content: space-evenly;
  padding: 1rem;
  text-decoration: none;
 
}

nav ul li {
  flex: 1 1 auto;
}

/*

 padding: .5rem;

  nav a {
    display: block;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    padding: .5rem;
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  
*/

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
  background-color: var( --shadow-color-03);
}

.myContainerGrid {
  gap: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.myContainerGrid h3 {
  margin: 0;
  padding: 0px;

  background-color: var(--nav-background-color);
  text-decoration: none;
  list-style-type: none;
}

.myContainerGrid ul li {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  text-decoration: none;
  list-style-type: none;
}

.myContainerGrid ul li a {
  color: var(--nav-hover-link-color);

}
 
.learning-activity {
  border: rgba(0, 0, 0, 0.1) solid 1px;
}

.learning-activity ul {
  text-align: left; 
  padding-inline-start: 10px; 
}

.information {
  border: rgba(0, 0, 0, 0.1) solid 1px;
  text-align: center; 
  padding-inline-start: 0px;

}

footer {
  color: var(--paragraph-footer-color);
  background-color: var(--paragraph-background-color);
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--paragraph-footer-color);
  font-family: var(--heading-font);
  font-size: 1.3em;
}

.navigation li {
  display: block; /* change state in small view */
  flex: 1 1 100%;
}
.navigation a {
  text-align: center;
}

.unionH2 {
  display: flex;
  
  justify-content: center;
}
#menu {
  text-align: left;
  display: none;
}


 


.hero {
  position: relative;
  width  : 100%;
  margin : 0;
  padding: 0;
}
.hero picture{
  width: 100%;
}

.hero img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */ 
}

.hero span {
  position: absolute;
  font-family: Sintony sans-serif;
  font-size: 1.5em;
  font-weight: 800;
 
  background-color: rgba(255, 255,255, 0.1);
  color:  var(--span-color);
  bottom: 50%;
  left: 5%;
  width: 40%;
  text-align: center;
}


.map{
 
  padding: 0;
  margin: 0;
 
  width: 100%;
 
  overflow: hidden;
 /* border: 1px solid red;*/
 
  border: none;
}

iframe {

 
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height:50%;
  /*border: 20px solid red;*/
  
}


picture .perfil-author {
  width: 50px;
  height: auto; 
}
 